<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweetchive - About</title>
    <link rel="stylesheet" href="index.css" />
    <meta name="robots" content="noimageai" />
    <meta name="robots" content="noai" />
  </head>
  <body>
    <ul id="navbar">
      <li><a href="/">Home</a></li>
    </ul>
    <div>
      <div>
        <h1>the team</h1>
        <div>
          <h3>l1npengtul</h3>
          <a>cohost</a>
          <a>fedi</a>
        </div>
        <div>
          <h3>cringe_lizzie</h3>
          <a>cohost</a>
          <a>fedi</a>
        </div>
      </div>
      <div>
        <h1>why?</h1>
        <p>lets all love lain</p>
      </div>
    </div>

    <div id="footer">
      <a href="about.html">about</a>
      <a href="https://github.com/sponsors/l1npengtul">donate</a>      <a href="report.html">report</a>
      <a href="contact.html">contact</a>
      <a href="status.html">status</a>
      <a href="terms.html">terms</a>
    </div>
  </body>
</html>
