<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweetchive - Contact Us</title>
    <link rel="stylesheet" href="index.css" />
    <meta name="robots" content="noimageai" />
    <meta name="robots" content="noai" />
  </head>
  <body>
    <ul id="navbar">
      <li><a href="/">Home</a></li>
    </ul>

    <div id="content">
      <div>
        <h2>email:</h2>
        <script type="text/javascript">
          function base64DecodeUnicode(str) {
            // Convert Base64 encoded bytes to percent-encoding, and then get the original string.
            let percentEncodedStr = atob(str)
              .split("")
              .map(function (c) {
                return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
              })
              .join("");

            return decodeURIComponent(percentEncodedStr);
          }

          let a_ = "dHdlZXRjaGl2ZUA=";
          let b = "cHJvdG9ubWFpbA==";
          let c = "Lg==";
          let d = "Y29t";
          let emailE =
            base64DecodeUnicode(a_) +
            base64DecodeUnicode(b) +
            base64DecodeUnicode(c) +
            base64DecodeUnicode(d);
          document.write('<a href="mailto:' + emailE + '">' + emailE + "</a>");
        </script>
        <noscript>
          <p>[email redacted]</p>
        </noscript>
      </div>
      <div>
        <h2>twitter</h2>
        <a>@tweetchive</a>
      </div>
      <div>
        <h2>github</h2>
        <a>tweetchive</a>
      </div>
      <div>
        <h2>cohost</h2>
        <a>@tweetchive</a>
      </div>
      <div>
        <h2>mastadon/fedi</h2>
        <a>@tweetchive@example.com</a>
      </div>
    </div>

    <div id="footer">
      <a href="about.html">about</a>
      <a href="https://github.com/sponsors/l1npengtul">donate</a>      <a href="report.html">report</a>
      <a href="contact.html">contact</a>
      <a href="status.html">status</a>
      <a href="terms.html">terms</a>
    </div>
  </body>
</html>
