<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweetchive - Twitter Archiver!</title>
</head>
<body>
    <div>
        <div>
            <h1>Tweetchive</h1>
            <h2>preserving the worst social media for future generations <strike>in the public interest</strike></h2>
        </div>
        <div>
            <form>
                <select>
                    <option value="tweet">
                        Tweet (ID)
                    </option>
                    <option value="uid">
                        User (ID)
                    </option>
                    <option value="handle">
                        User (Handle)
                    </option>
                </select>
                <input type="search" name="search">
                <input type="submit">
            </form>
        </div>
        <div>
            <a href="about.html">about</a>
            <a>report</a>
            <a href="contact.html">contact</a>
            <a>status</a>
            <a>terms</a>
            <a>privacy</a>
        </div>
    </div>
</body>
</html>