<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweetchive - Terms</title>
    <link rel="stylesheet" href="index.css" />
    <meta name="robots" content="noimageai" />
    <meta name="robots" content="noai" />
  </head>
  <body>
    <ul id="navbar">
      <li><a href="index.html">Home</a></li>
    </ul>
    <div id="content">
      <h1>Terms and Conditions and Privacy Policy</h1>
      <h2 id="terms-and-conditions">Terms and Conditions</h2>
      <p>This agreement between Tweetchive (the service) and you (the user) governs the use of Tweetchive&#39;s services (API, website) and Tweetchive&#39;s Archive (data held by Tweetchive that is publicly accessible, i.e. Archives.)</p>
      <h3 id="usage">Usage</h3>
      <p>Usage of Tweetchive is granted to you for academic or scholarly uses only. If you are using Tweetchive on behalf of a Corporation or a Government, you may not use Tweetchive or its services. You may not use Tweetchive to harass or annoy other users. You may not use Tweetchive to circumvent access restrictions on other sites (commonly known as &quot;block evading&quot;). You agree not to share authentication methods with other users. You agree that Tweetchive may permanently ban you from Tweetchive at any time with no warning or recourse. You agree that you will not circumvent any restrictions on accessing content. </p>
      <h3 id="copyright">Copyright</h3>
      <p>Tweetchive will make an effort in good faith to honor copyrights of its sources and users. Any material you provide to Tweetchive, you also grant us a non-revocable, worldwide, nonexclusive, royalty-free right to share, distribute, display, and/or modify the content, content(s), and/or data. If you wish to file a DMCA report, please use the email in the Contact page with a subject line that starts with [DMCA]. You must provide:</p>
      <ul>
        <li>Identification of the copyrighted work that you claim has been infringed;</li>
        <li>An exact description of where the material about which you complain is located within Tweetchive&#39;s Archive;</li>
        <li>Your address, telephone number, and email address;</li>
        <li>A statement by you that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
        <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the owner of the copyright interest involved or are authorized to act on behalf of that owner; and</li>
        <li>Your electronic or physical signature. </li>
      </ul>
      <h3 id="ct">Content</h3>
      <p>You agree that Tweetchive, at any time, may remove, delete, modify, and/or withhold access to content at any time without forewarning. You also agree that you may be exposed to unmoderated or unfiltered content on Tweetchive at any time, that you use Tweetchive at your own risk and peril.
        You agree that any content on Tweetchive is not sponsored or endorsed by Tweetchive or any related entity. </p>
      <h3 id="legal">Legal</h3>
      <p> You agree to hold harmless and indemnify the owners, operators, staff, upstream provider, or any other entity affiliated with Tweetchive. We may terminate or alter this agreement, along with the Privacy Policy and any other agreement, at any time, without warning. It is up to you to agree to each individual agreement. Under no circumstances will any owners, operators, staff, upstream provider, or any other entity affiliated with Tweetchive be held responsible for damaged caused by use of Tweetchive. </p>
      <h2 id="privacy-policy">Privacy Policy</h2>
      <p>Tweetchive stores your data for the service to work. This agreement governs the use of your data and Tweetchive. </p>
      <h3 id="archives">Archives</h3>
      <p>Tweetchive archives only collect publicly available information, or direct messages to Tweetchive&#39;s account. Any other private data, e.g. email, is not collected or stored. </p>
      <p>It may be possible to use Tweetchive&#39;s data to link together other parts of your presence or identity, due to advances in data mining done by entites other than Tweetchive.</p>
      <h3 id="access">Access</h3>
      <p>When you access Tweetchive, your IP address, User Agent, Time of Access, What Page Was Accessed, and other information provided by the Browser may be stored by Tweetchive. </p>
      <p>Additionally, when you Sign-in, any information that you provide to Tweetchive, such as Email Address, User ID, Time of Sign-up, may be stored. </p>
      <p>Any report or email you send to Tweetchive is stored indefinitely. </p>
      <p>Any Archive request sent to Tweetchive is stored indefinitely. </p>
      <h3 id="upstream-providers">Upstream Providers</h3>
      <p>We use BunnyCDN as our CDN provider, and hCaptcha as our captcha provider. Please refer to their Privacy Policies individually. Tweetchive is not responsible for actions of third parties.   </p>
    </div>

    <div id="footer">
      <a href="about.html">about</a>
      <a href="https://github.com/sponsors/l1npengtul">donate</a>
      <a href="report.html">report</a>
      <a href="contact.html">contact</a>
      <a href="status.html">status</a>
      <a href="terms.html">terms</a>
    </div>
  </body>
</html>
